.calc_screen {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calc_screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
    user-select: none;
}